*.class

# Package Files #
*.jar
*.war
*.ear
/nbproject/private/
/Diputacion-war/nbproject/private/
/Diputacion-ejb/nbproject/private/
/Diputacion-ejb/build/
/Diputacion-ejb/dist/
/Diputacion-war/build/
/build/
/Diputacion-war/dist/
/dist/